<div class='row mt-3'>
  <div class='col-12'>
    <span class='h5'>Dados básicos</span>
  </div>
</div>

<div class='row mt-3'>
  <div class='col-12'>
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'form-control', autofocus: true, placeholder: 'José da silva' %>
  </div>
</div>

<div class='row mt-3'>
  <div class='col-12'>
    <%= f.label :email, class: 'form-label' %>
    <%= f.email_field :email, class: 'form-control', autofocus: true, placeholder: 'jose@silva.com' %>
  </div>
</div>

<% if @volunteer.new_record? %>
  <div class='row mt-3'>
    <div class='col-12'>
      <%= f.label :password, class: 'form-label' %>
      <%= f.password_field :password, class: 'form-control', autofocus: true, placeholder: '******' %>
    </div>
  </div>

  <div class='row mt-3'>
    <div class='col-12'>
      <%= f.label :password_confirmation, class: 'form-label' %>
      <%= f.password_field :password_confirmation, class: 'form-control', autofocus: true, placeholder: '******' %>
    </div>
  </div>
<% end %>

<div class='row mt-3'>
  <div class='col-12'>
    <%= f.label :document, class: 'form-label' %>
    <%= f.text_field :document, class: 'form-control', placeholder: '000.000.000-00' %>
  </div>
</div>

<div class='row mt-3'>
  <div class='col-12'>
    <%= f.label :phone_number, class: 'form-label' %>
    <%= f.text_field :phone_number, class: 'form-control', placeholder: '(51) 99999-9999' %>
  </div>
</div>

<hr />

<div class='row mt-3'>
  <div class='col-12'>
    <span class='h5'>Endereço</span>
  </div>
</div>

<div class='row mt-3'>
  <div class='col-12'>
    <%= f.label :street, class: 'form-label' %>
    <%= f.text_field :street, class: 'form-control', placeholder: 'Av. Dorival' %>
  </div>
</div>

<div class='row mt-3'>
  <div class='col-12'>
    <%= f.label :street_number, class: 'form-label' %>
    <%= f.text_field :street_number, class: 'form-control', placeholder: '333' %>
  </div>
</div>

<div class='row mt-3'>
  <div class='col-12'>
    <%= f.label :district, class: 'form-label' %>
    <%= f.text_field :district, class: 'form-control', placeholder: 'Pq. da matriz' %>
  </div>
</div>

<div class='row mt-3'>
  <div class='col-12'>
    <%= f.label :city, class: 'form-label' %>
    <%= f.text_field :city, class: 'form-control', placeholder: 'Cachoeirinha' %>
  </div>
</div>

<hr />

<div class='row mt-3'>
  <div class='col-12'>
    <span class='h5'>Trabalho</span>
  </div>
</div>

<div class='row mt-3'>
  <div class='col-12'>
    <%= f.collection_check_boxes(
      :work_shifts,
      Hash[User::ALLOWED_WORK_SHIFTS.map { |v| [t(v, scope: [:activerecord, :attributes, :work_shifts]),v] }], :last, :first) do |b| %>
      <div class="form-check form-check-inline">
        <%= b.check_box class: 'form-check-input', checked: f.object.work_shifts&.include?(b.value.to_s) %>
        <%= b.label class: 'form-check-label' %>
      </div>
    <% end %>
  </div>
</div>

<div class='row mt-3 mb-5'>
  <div class='col-12'>
    <%= f.submit "Salvar", class: 'btn btn-primary w-100 py-2' %>
  </div>
</div>