<%= form_for([@work_schedule, @volunteer_work_schedule]) do |f| %>
  <div class='row mt-3'>
    <div class='col-12'>
      <%= f.label :user_id, class: 'form-label' %>
      <%= f.collection_select :user_id, @volunteers, :id, :volunteer_display_data, { include_blank: 'Selecione o voluntário' }, class: 'form-control' %>
    </div>
  </div>

  <div class='row mt-3'>
    <div class='col-12'>
      <%= f.label :work_shift, class: 'form-label' %>
      <%= f.select :work_shift, User::ALLOWED_WORK_SHIFTS.map { |v| [t(v, scope: [:activerecord, :attributes, :work_shifts]),v] }, { include_blank: 'Selecione o turno' }, class: 'form-control' %>
    </div>
  </div>

  <div class='row mt-3'>
    <div class='col-12'>
      <%= f.label :role_id, class: 'form-label' %>
      <%= f.collection_select :role_id, current_user.organization.roles.order(:name), :id, :name, { include_blank: 'Selecione a atribuição' }, class: 'form-control' %>
    </div>
  </div>

  <div class='row mt-3 mb-5'>
    <div class='col-12'>
      <%= f.submit "Salvar", class: 'btn btn-primary w-100 py-2' %>
    </div>
  </div>
<% end %>