<main class="form-signin w-100 m-auto">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h1 class="h3 mb-3 fw-normal">Entrar</h1>
    <div class='row g-3'>
      <div class='col-12'>
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", placeholder: 'email@exemplo.com' %>
      </div>

      <div class="col-12">
        <%= f.label :password, class: 'form-label' %>
        <%= f.password_field :password, class: 'form-control', autocomplete: "current-password", placeholder: '******' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-check text-start my-3">
          <%= f.check_box :remember_me, class: 'form-check-input' %>
          <%= f.label :remember_me, class: 'form-check-label' %>
        </div>
      <% end %>

      <%= f.submit "Entrar", class: 'btn btn-primary w-100 py-2' %>
    </div>
  <% end %>
</main>