<%= form_for(@item) do |f| %>
  <div class='row mt-3'>
    <div class='col-12' id='item-autocomplete' data-controller="<%= @item.new_record? ? 'autocomplete' : '' %>" data-autocomplete-url-value="/items/search" role="combobox">
      <%= f.label :name, class: 'form-label' %>
      <%= f.text_field :name, class: 'form-control', autofocus: true, placeholder: 'Sabonete nivea', data: { 'autocomplete-target': 'input' }, autocomplete: 'off' %>
      <input type="hidden" id='item_id' name="item_id" data-autocomplete-target="hidden"/>
      <ul class="list-group" data-autocomplete-target="results"></ul>
    </div>
  </div>

  <div class='row mt-3'>
    <div class='col-12'>
      <%= f.label :quantity, class: 'form-label' %>
      <%= f.text_field :quantity, class: 'form-control', autofocus: true %>
    </div>
  </div>

  <div class='row mt-3 mb-5'>
    <div class='col-12'>
      <%= f.submit "Salvar", class: 'btn btn-primary w-100 py-2' %>
    </div>
  </div>
<% end %>