<tr>
  <td><%= sheltered.name %></td>
  <td><%= sheltered.birthdate ? l(sheltered.birthdate) : nil %></td>
  <td><%= sheltered.document %></td>
  <td><%= sheltered.city %></td>
  <td><%= sheltered.sheltered&.phone_number %></td>
  <td><%= sheltered.disabilities %></td>
  <td><%= sheltered.special_needs %></td>
</tr>