<table class="table">
  <tbody>
    <tr>
      <th scope="col">Nome do abrigo: <%= current_user.organization.name %></th>
      <th scope="col">Responsável pelo preenchimento: <%= current_user.name %></th>
      <th scope="col">Data: <%= l(Time.zone.today) %></th>
    </tr>
  </tbody>
</table>
</table>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col-1">Data Nasc</th>
      <th scope="col-2">Documento</th>
      <th scope="col">Cidade origem</th>
      <th scope="col-2">Contato responsavel</th>
      <th scope="col">Pessoa com deficiencia</th>
      <th scope="col">Necessidades específicas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan='7' class='text-center'>
        <b>Crianças: <%= children_report(@sheltereds).size %></b>
      </td>
    </tr>
    <% children_report(@sheltereds).each do |sheltered| %>
      <%= render 'sheltered_row', sheltered: sheltered %>
    <% end %>
    <tr>
      <td colspan='7' class='text-center'>
        <b>Adolescentes: <%= teenagers_report(@sheltereds).size %></b>
      </td>
    </tr>
    <% teenagers_report(@sheltereds).each do |sheltered| %>
      <%= render 'sheltered_row', sheltered: sheltered %>
    <% end %>
    <tr>
      <td colspan='7' class='text-center'>
        <b>Adultos: <%= adults_report(@sheltereds).size %></b>
      </td>
    </tr>
    <% adults_report(@sheltereds).each do |sheltered| %>
      <%= render 'sheltered_row', sheltered: sheltered %>
    <% end %>
    <tr>
      <td colspan='7' class='text-center'>
        <b>Idosos: <%= elderly_report(@sheltereds).size %></b>
      </td>
    </tr>
    <% elderly_report(@sheltereds).each do |sheltered| %>
      <%= render 'sheltered_row', sheltered: sheltered %>
    <% end %>
    <tr>
      <td colspan='7' class='text-center'>
        <b>Não especificado: <%= @sheltereds.filter { |s| s.birthdate.nil? }.size %></b>
      </td>
    </tr>
    <% @sheltereds.filter { |s| s.birthdate.nil? }.each do |sheltered| %>
      <%= render 'sheltered_row', sheltered: sheltered %>
    <% end %>
  </tbody>
</table>