<!DOCTYPE html>
<html>
  <head>
    <title>SOS RS Abrigos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-startup-image" href="startup.png">
    <link rel="apple-touch-icon" href="<%= image_path('icon.png') %>"/>
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="<%= image_path('icon.png') %>">

    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="<%= image_path('icon.png') %>">
    <link rel="shortcut icon" sizes="128x128" href="<%= image_path('icon.png') %>">

  </head>

  <body class='d-flex align-items-center py-4 bg-body-tertiary'>
    <main class='container'>
      <div class='p-5 rounded'>
        <%= render 'shared/flash' %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
