<!DOCTYPE html>
<html>
  <head>
    <title>SOS RS Abrigos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <style>
      body {
        font-size: 12px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
